body {
    margin: 0;
    background: #e0e5ec;
    font-family: 'Segoe UI';
}

/* Center full screen */
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card neumorphism */
.card-custom {
    background: #e0e5ec;
    padding: 30px;
    border-radius: 20px;
    width: 280px;
    box-shadow: 8px 8px 15px #a3b1c6,
                -8px -8px 15px #ffffff;
    text-align: center;
}

/* Input & Select kecil dan center */
.form-control,
.form-select {
    max-width: 220px;
    margin: 0 auto 15px auto;
    text-align: center;
    border: none;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: inset 4px 4px 6px #a3b1c6,
                inset -4px -4px 6px #ffffff;
}

.form-control:focus,
.form-select:focus {
    box-shadow: inset 4px 4px 6px #a3b1c6,
                inset -4px -4px 6px #ffffff;
    outline: none;
}
